// Inserting a pseudo br between two flex items
.br {
  flex-basis: 100%;
  height: 0;
}

.br-md {
  @include media-breakpoint-up(md) {
    flex-basis: 100%;
    height: 0;
  }
}

.br-lg {
  @include media-breakpoint-up(lg) {
    flex-basis: 100%;
    height: 0;
  }
}

.is-pulled-up-1 {
  margin-top: -$size-2;
}

.w-100 {
  width: 100% !important;
}
