.border {
  border-radius: $border-radius;

  // inline-block should be avoided because it adds extra space around element
  display: table;
  position: relative;
  overflow: hidden;

  // Border
  &::after {
    border-radius: $border-radius;
    box-shadow: inset 0 0 0 1px $color-ink-border;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:empty {
    display: none;
  }
}

// -----------------------------------------------------------------------------
// RESPONSIVE MEDIA
// -----------------------------------------------------------------------------

.embed-responsive {
  display: block;
  padding: 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before {
    content: '';
    display: block;
  }

  .embed-responsive__item,
  > iframe,
  > embed,
  > object,
  > video {
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.embed-responsive.is-4by3 {
  &::before {
    padding-top: percentage(3 / 4);
  }
}

// -----------------------------------------------------------------------------
// VIDEO BACKGROUND
// -----------------------------------------------------------------------------

// MARKUP
// video.video.is-bg(autoplay, muted, loop, playsinline)
//   source(data-src='/path/to/video.mp4', type='video/mp4')

// To prevent download video on mobiles use base/content/content.js and data-src
// instead of source src attribute

.video.is-bg {
  filter: brightness(50%);
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

// -----------------------------------------------------------------------------
// MEDIA OBJECT
// -----------------------------------------------------------------------------

.media-object {
  @include media-breakpoint-up(sm) {
    display: flex;
    align-items: flex-start;
    margin-top: $size-line + .6rem;
  }
}

.media-object__figure {
  @extend %border;

  @include media-breakpoint-up(sm) {
    margin-right: $size-line;
  }

  @include media-breakpoint-up(md) {
    margin-right: $size-4;
  }
}

.media-object__body {
  flex: 1;
}
