.icon {
  display: inline-block;

  // Можно окрасить иконку в цвет текста (currentColor) или назначить свой цвет
  fill: $color-ink-icon;

  // Prevent the icon from shrinking inside a flex container.
  flex-shrink: 0;
  overflow: hidden;

  // Vertical-align: middle не всегда
  // выравнивает по визуальному центру, надо
  // экспериментировать с цифровыми значениями
  vertical-align: -.4rem;
  transition: fill $duration-sm;

  width: $size-4;
  height: $size-4;
}
