// Style invalid selectors only when they aren't currently being edited with
.form__control:not(:focus):invalid {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20fill%3D%22%23F25A5A%22%20d%3D%22M12%2C2%20C6.48%2C2%202%2C6.48%202%2C12%20C2%2C17.52%206.48%2C22%2012%2C22%20C17.52%2C22%2022%2C17.52%2022%2C12%20C22%2C6.48%2017.52%2C2%2012%2C2%20Z%20M13%2C17%20L11%2C17%20L11%2C15%20L13%2C15%20L13%2C17%20Z%20M13%2C13%20L11%2C13%20L11%2C7%20L13%2C7%20L13%2C13%20Z%22%2F%3E%20%3C%2Fsvg%3E');
  background-position: right $size-1 center;
  background-repeat: no-repeat;
  box-shadow:
    inset 0 0 0 3px $color-error,
    $box-shadow-z2;
}

// Error messages

.form__feedback.is-invalid {
  color: $color-error-text;
  font-size: $font-size-small;
  overflow: hidden;
  opacity: 0;
  height: 0;
  transition: height $duration-sm $easing;
}

// To hide message paddings we should wrap it in another div
.form__feedback.is-invalid > div {
  padding-top: rem(8);
  padding-bottom: rem(14);
}

.form__control:not(:focus):invalid + .form__feedback.is-invalid {
  opacity: 1;
  height: rem(34);
}
